<!--<p>trip-listing works!</p>-->
<!-- <pre>{{trips | json}}</pre> -->  <!--Display JSON data-->

<!-- 'Add' button to add a trip by admin by executing addTrip method-->
 <div *ngIf="isLoggedIn()">
    <button (click)="addTrip()" class="btn btn-info">Add Trip</button>
 </div>

<!--HTML code to render each data record provided by tip-listing.component-->
<!--NOTE: Relies on Boostrap CSS framework for the data view-->
<!--NOTE: each Bootstrap row consumes 12 columns based on window width-->
<div class="row"> 
    <!--Angular for-loop-->
    <div *ngFor="let trip of trips" class="col-12 col-md-4 mb-4">  <!--class="col-#" is optional-->
        <!--Separated CORS card HTML to trip-card.components.html
        from app/trip-card component-->
        <app-trip-card [trip]="trip" class="card-deck mt-2"></app-trip-card>
    </div> 
 </div>
