#NOTE: before committing and pushing, run "git rm -r --cached <folder_name>"

# Ignore directories
[C++] Data Structure Analysis/
*C++*Data*Structure*Analysis

#[Java] Rescue Animal Program/
#*Java*Rescue*Animal*Program

# Ignore files

# Ignore log files
*.log
