<!DOCTYPE html>
<html>
  <head>
    <!-- {{Handlebars}} content dynamically inserted -->
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
  </body>
</html>
