<!-- Called by travel.hbs -->
<div id="footer">
    <div>
        <!-- Footer navigation menu -->
        <ul class="navigation">
            <li>
                <!-- Home page link -->
                <a href="index.html">Home</a>
            </li>
            <li class="active">
                <!-- Travel page link -->
                <a href="/travel">Travel</a>  <!-- Route through Handlebars processing engine -->
            </li>
            <li>
                <a href="rooms.html">Rooms</a>
            </li>
            <li>
                <a href=“meals.html">Meals</a>
            </li>
            <li>
                <a href="news.html">News</a>
            </li>
            <li>
                <a href="about.html">About</a>
            </li>
            <li>
                <a href="contact.html">Contact</a>
            </li>
        </ul>
        <!-- Social media links -->
        <div id="connect">
            <a href="http://pinterest.com/fwtemplates/" target="_blank" class="pinterest"></a>
            <a href="http://freewebsitetemplates.com/go/facebook/" target="_blank" class="facebook"></a>
            <a href="http://freewebsitetemplates.com/go/twitter/" target="_blank" class="twitter"></a>
            <a href="http://freewebsitetemplates.com/go/googleplus/" target="_blank" class="googleplus"></a>
        </div>
    </div>
    <!-- Footer copyright notice -->
    <p>
        © 2023 by BHACCASYONIZTAS BEACH RESORT. All Rights Reserved
    </p>
</div>
